{extend name="$thinkAdminViewLayoutFile" /}
{block name='css'}
{__block__}
{css href="https://cdn.jsdelivr.net/npm/ckeditor5-image@1.0.5/theme/imagestyle.css"}
{/block}

{block name="js"}
{__block__}
{js href="https://cdn.jsdelivr.net/npm/@form-create/data@1.0.0/dist/province_city.js"}
{js href="https://cdn.jsdelivr.net/npm/@form-create/data@1.0.0/dist/province_city_area.js"}

{js href="https://cdn.jsdelivr.net/npm/@ckeditor/ckeditor5-vue@1.0.1/dist/ckeditor.min.js"}
{js href="https://cdn.jsdelivr.net/npm/ckeditor5-build-classic-image-resize@1.5.0/build/ckeditor.js"}
{js href="https://cdn.jsdelivr.net/npm/@ckeditor/ckeditor5-vue@1.0.1/dist/ckeditor.min.js"}
{/block}

{block name="style"}
{__block__}
<style>
    .vue-sku{
        line-height: 100%;
    }
    .vue-sku .el-divider--horizontal{
        margin: 10px 0;
    }
    .vue-sku .vue-sku-table td, .vue-sku .vue-sku-table th{
        padding: 5px 2px;
    }
    .vue-sku .spec-line{
        position:relative;
    }
    .vue-sku .spec-line .spec-deleted {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        cursor: pointer;
    }
    .vue-sku .spec-line:hover .spec-deleted{
        display: inline;
    }
</style>
{/block}

{block name="main"}
<el-row>
    <el-col :span="24">
        <el-page-header @back="goBack" content="{$pageTitle?:'编辑'}" style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #eaeefb">
        </el-page-header>
    </el-col>
</el-row>

<div id="base-form">
</div>
{/block}

{block name="script"}
{__block__}
<script>
{$form->customComponentView()|raw}
var create = {$form->formScript()|raw};
var $f = create({el: document.getElementById('base-form'), callback: function(status, res, $f) {
if (status && res.code === 200) {
    Vue.prototype.$Message.success(res.msg || '表单提交成功');
    {if $form->isGoBack() && !$form->getData()}
    setTimeout("window.history.go(-1)","500");
    {/if}
    } else {
        $f.submitBtnProps({loading: false, disabled: false});
        Vue.prototype.$Message.error(res.msg || '表单提交失败');
    }
}});
</script>
{/block}