{extend name="$thinkAdminViewLayoutFile" /}
{block name="style"}
{__block__}
<style>
    .vue-sku{
        line-height: 100%;
    }
    .vue-sku .el-divider--horizontal{
        margin: 10px 0;
    }
    .vue-sku .vue-sku-table td, .vue-sku .vue-sku-table th{
        padding: 5px 2px;
    }

</style>
{/block}

{block name="main"}
<el-row>
    <el-col :span="24">
        <el-page-header @back="goBack" content="{$pageTitle?:'编辑'}" style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #eaeefb">
        </el-page-header>
    </el-col>
</el-row>

<div id="base-form">
</div>
{/block}

{block name="script"}
{__block__}
<script>
    {$form->customComponentView()|raw}

    var create = {$form->formScript()|raw};
    var $f = create({el: document.getElementById('base-form')});
</script>
{/block}