{extend name="layout_container" /}

{block name="title"}
仪表盘
{/block}

{block name="main"}

<div style="text-align: center; margin: 200px auto; width: 500px;">
    <h1>欢迎登录 think-admin</h1>
    <div style="color: #666666">
        <p>不要问我</p>
        <p>一生曾经爱过多少人</p>
        <p>你不懂我伤有多深</p>
        <p>要剥开伤口总是很残忍</p>
        <p>劝你别做痴心人</p>
        <p>多情暂且保留几分</p>
        <p>...</p>

    </div>
    <el-alert
            title="开发版，暴躁的码农正在不慌不忙的开发中....."
            type="error">
    </el-alert>
</div>

{/block}